body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    color: #2c3e50;
}

h2 {
    font-size: 1.5em;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 2px;
}

header h1 { 
    text-align: center;
    font-size: 3em;
}

header span {
    font-size: small;
    color: #868585;
    margin-top: -40px;
}

.section {
    margin-bottom: 20px;
}

/* Estilo Contatos */
.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-info a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #2980b9;
    transition: transform 0.3s ease;
    padding: 2px;
}
.contact-info a img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.contact-info a:hover {
    text-decoration: underline;
    background-color: #f4f4f9;
    transition: transform 0.2s;
}

/* Estilo Resumo Profissional */

.section.resumo a {
    text-decoration: none;
    color: #1a5b86;
    font-weight: 600;
}



/* Notificação copiado */
.notificacao {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.notificacao.visivel {
    display: block;
    opacity: 1;
}

/* Estilos dos Skills*/

.skills-list {
    list-style: none;
    padding: 0;
}
.skills-list li {
    margin-bottom: 6px;
}

/* Estilos dos Cards Projetos*/

.project-cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: cursive;
}
.project-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

.project-info {
    flex: 1;
}

.project-image {
    width: 50%;
    height: auto;
    object-fit: cover;
    margin-left: 16px;
    border-radius: 4px;
    transition: transform 0.5s ease
}

.project-image.inativo:hover {
    transform: scale(1);
}

.project-image:hover {
    transform: scale(2);
}
.project-card:hover {
    transform: translateY(-5px);
}

.project-card h3 {
    margin-top: 0;
    font-size: 1.3em;
    color: #2c3e50;
}
.project-card p {
    margin: 10px 0;
    font-size: 0.8em;
    color: #555;
}
.project-card a {
    color: #2980b9;
    text-decoration: none;
    font-size: 1em;
    font-weight: 300;
    padding: 4px;
    transition: transform 0.5s ease
}
.project-card a:hover {
    text-decoration: underline;
    background-color: #d7d7db;
}

/* Estilos dos Idiomas*/

.idiomas {
    display: flex;
    flex-direction: column;
}

/* Estilos dos Idiomas*/

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px 12px;
    font-size: 16px;
    background-color: #0073e6;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.back-to-top:hover {
    background-color: #005bb5;
}

/* Estilos do Footer*/

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f9;
    color: #333;
    border-top: 1px solid #ddd;
}

/* Media Query para telas menores que 768px (tablets e celulares) */
@media (max-width: 768px) {
    .project-card {
        flex-direction: column;
        align-items: center;
    }
    
    .project-image {
        width: 100%;
        margin: 10px 0;
    }

    .contact-info {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        gap: 10px;
        columns: 2;
        justify-content: center;
        align-items: center;
    }
}

/* Media Query para telas menores que 480px (celulares menores) */
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }
}